<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	<typeAliases>
		<typeAlias type="com.example.dto.Users" alias="users" />
		<typeAlias type="com.example.dto.Board" alias="board" />
		<typeAlias type="com.example.dto.Reboard" alias="reboard" />
	</typeAliases>

	<mappers>
		<mapper resource="mybatis/mapper/UserMapper.xml"/>
		<mapper resource="mybatis/mapper/BoardMapper.xml"/>
		<mapper resource="mybatis/mapper/ReboardMapper.xml"/>
	</mappers>





</configuration>